{{ 'image-banner.css' | asset_url | stylesheet_tag }}
<div class="banner">
  <div class="thumb">
    <img src="{{ section.settings.src }}" alt="banner">
  </div>
  <div class="banner-desp">
    <h1 class="banner-title">{{ section.settings.title }}</h1>
    <p class="banner-desc">
      {{ section.settings.desc }}
    </p>
  </div>
</div>
<script src="{{ 'image-banner' | asset_url }}"></script>
{% schema %}
{
  "name": "image-banner",
  "tag": "section",
  "class": "image-banner",
  "settings": [
    {
      "id": "src",
      "type": "image_picker",
      "label": "Banner image source"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Banner title"
    },
    {
      "id": "desc",
      "type": "text",
      "label": "Banner desc"
    }
  ]
}
{% endschema %}
